<section id="hero">
  <div class="background">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="images/logo.png" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <a href="#" class="circle-button">
            <img src="images/volunteer.png" class="img-responsive img-circle">
            <h4 class="text-center">VOLUNTEER</h4>
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#" class="circle-button">
            <img src="images/attend.png" class="img-responsive img-circle">
            <h4 class="text-center">ATTEND</h4>
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#" class="circle-button">
            <img src="images/sponsor.png" class="img-responsive img-circle">
            <h4 class="text-center">SPONSOR</h4>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="info">
  <h1 class="title text-center">
    The playground we need
  </h1>

  <div class="container-fluid">

    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <h3>Work on whatever you feel like</h3>
        <p class="lead">
          OpenBuilds are there for you to work on whatever you feel like, technical or non technical, from scratch or a current product. Let your creative mind take over!
        </p>

        <div class="row">
          <div class="col-md-6">
            <canvas id="doughnut" class="chart chart-doughnut" data="projectData" labels="projectLabels" options="projectOptions" legend="true"></canvas>
          </div>
          <div class="col-md-6">
            <h4>Project Types</h4>
            <p class="lead">
              All types of projects are welcome at OpenBuild. In the past, projects have generally revolve around hardware, hardcore computer science, or service-based applications.
            </p>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h3>Enjoy the perks</h3>
        <p class="lead">
          Every OpenBuild promises 24 hours of food and a collection of awesome prizes. Win First Place, Second Place, or Peer Choice prizes by presenting in a Pecha Kucha format.
        </p>

        <div class="row">
          <div class="col-md-8">
            <h4>Food</h4>
            <p class="lead">
              We promise to keep you well fed! Each OpenBuild consists of 4 meals, tons of snacks, and caffeine galore. If you're hungry, you're at the wrong place.
            </p>
            <h4>Judging</h4>
            <p class="lead">
              OpenBuild judges are uniquely selected from a pool of professionals with backgrounds in hardware design, entrepreneurship, or computer science. The judging process is designed to help further your idea, not place it in direct competition with others.
            </p>
            <h4>Prizes</h4>
            <p class="lead">
              Ideas for OpenBuild prizes come from the community - make sure to vote on the Facebook event poll! Each member from a winning team is allowed to select one prize from the pool.
            </p>
          </div>
          <div class="col-md-4">
            <img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-frc3/v/t1.0-9/1379752_643970012330925_849244896_n.jpg?oh=91141837581bd828f5a61c33f004da37&oe=55251353&__gda__=1429172391_dcaee2f8dc09e890992a2095ff01ac16" class="img-responsive img-rounded">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h3>Meet kick ass people</h3>
        <p class="lead">
          OpenBuilds tend to bring together the quirkiest, most creative, and fun loving people around. Don't worry about not knowing anyone, everyone's a friend! Bring your own team or form one there!
        </p>

        <div class="row">
          <div class="col-md-6">
            <canvas id="doughnut" class="chart chart-doughnut" data="attendeeData" labels="attendeeLabels" options="attendeeOptions" legend="true"></canvas>
          </div>
          <div class="col-md-6">
            <h4>People</h4>
            <p class="lead">
              Attendees of OpenBuild tend to be a fun loving and talented crowd. Most are developers, but it's not rare to find a maker or business dev. We encourage mingling and project sharing - it helps the creative juices.
            </p>
            <h4>Teams</h4>
            <p class="lead">
              Bring your own team or meet one at OpenBuild! Just remember, teams are limited to a maximum of 5 people and we recommend they consist of a diverse background.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section id="events">
  <h1 class="title text-center">
    List of Events
  </h1>

  <div class="container">
    <div class="col-md-4">
      <div class="list-group">
        <a href=""
           class="list-group-item"
           ng-repeat="event in events"
           ng-init="event.selected = false"
           ng-class="{'true':'active'}[event.selected]"
           ng-click="selectEvent(event, $index)">
          <h4>{{event.title}}</h4>
          {{event.startDate | date:'shortDate'}} - {{event.endDate | date:'shortDate'}}
        </a>
      </div>
    </div>
    <div class="col-md-8">
      <p class="lead" ng-hide="selectedEvent.selected">
        Choose an event for more information.
      </p>
      <div ng-show="selectedEvent.selected">
        <h2 class="text-center">
          {{selectedEvent.title}} <br/>
          <small>
            {{selectedEvent.startDate | date:'shortDate'}} - {{selectedEvent.endDate | date:'shortDate'}}
          </small>
        </h2>
        <p class="lead">{{selectedEvent.description}}</p>
        <h2>
          <small>
            Event Partners
          </small>
        </h2>
        <div class="row">
          <div class="col-md-4" ng-repeat="partner in selectedEvent.partners">
            <img src="{{partner.imageLink}}" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>